h1{
    color:aquamarine;
    font-size: 40px;
}
body{
    padding: 16px;
}
.keyword{
    color:rgb(226, 101, 43);
    font-weight: bolder;
}
.estrellita{
    border:3px dotted yellowgreen;
    width: 150px;
    height: 120px;
    margin-left: 7px;
}
.aceptar{
    background-color: #7826c5;
}
.aceptar:active {
    background-color: aqua;

}
.aceptar:hover{
    background-color: beige;
}
.photo-container{
    padding-bottom: 50px;
    border:2px solid aquamarine;
    height:340px;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}