body{
    padding: 0px;
    margin: 0px; 
    overflow: auto; /* permite el desplazamiento en el cuerpo */

}
.pagina {
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 8968px;
}


.maximaPantalla {
    width: 1280px;
    height: auto;
  
}

/*
.oculto{
    display: none;
}

*/
nav {
    height: 227px;
    width: 1280px;
    display: flex;
    justify-content: space-around;
    border: none;
    z-index: 100;
    /*position: absolute;*/
    margin-top: 20px;
}

/*logo hamburguesa*/

nav>button {
    background-color: transparent;
    border: none;
    display: grid;
}

.icono-hamburguesa,
.hamburguesa {
    margin: 0;
}

.hamburguesa {
    width: 34px;
    height: 26px;
}

/*boton hamburguesa en transformacion a cruz*/
@keyframes lineToCross1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes lineToCross2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-45deg);

    }

    100% {
        transform: rotate(-45deg);

    }
}

@keyframes lineToCross3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

.hamburguesa.abierto .icono-hamburguesa:nth-child(1) {
    animation: lineToCross1 0.5s ease forwards;

}

.hamburguesa.abierto .icono-hamburguesa:nth-child(2) {
    animation: lineToCross2 0.5s ease forwards;

}

.hamburguesa.abierto .icono-hamburguesa:nth-child(3) {
    animation: lineToCross3 0.5s ease forwards;
}


/*boton comprar de la barra navegacion*/
#comprar>div {
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
}


#comprar>div>p {
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px;
}

nav>.spidey {
    width: 133px;
    height: 68px;
}


/*presentación*/

.contenedor {
    width: 1080px;
    overflow: visible;
    top: -227px;
    z-index: 0;

}

.contenedorPortada {
    height: 720px;
    width: 100%;

}




.portada{
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
   
}


.portada.fondo {
    background-image: url("../images/portada/fondoPresentacion.svg");
    width: 1280px;
    height: 100%;
    top: 126px;
    background-repeat: no-repeat;
}


.portada.edificioCentro {
    background-image: url("../images/portada/edificioCentro.svg");
    width: 543.5px;
    height: 213.5px;
    top: 634px;
    left: 392px;
    display: flex;
    justify-content: center;

}

.portada.edificioIzq {
    width: 452px;
    height: 720px;
    background-image: url("../images/portada/edificiosIzq.svg");
    top: 144px;
    left:-47px;
}

.portada.edificioDer {
    width: 374px;
    height: 727.5px;
    background-image: url("../images/portada/edificioDer.svg");
    top: 126px;
    left: 906px;

}

.portada.personajeBlanco {
    width: 360px;
    height: 444px;
    background-image: url("../images/portada/spidermanBlanco.svg");
    top: 388px;
    left: 90px;
}

.portada.personajeNegro {
    background-image: url("../images/portada/spidermanNegro.svg");
    width: 393px;
    height: 393px;
    top: 335px;
    left: 695px;
}

.portada.sogaIzq {
    background-image: url("../images/portada/sogaIzquierda.svg");
    top: 397px;
    left: -27px;
    width: 450.817px;
    height: 627.274px;
    transform: rotate(65.403deg);

}

.portada.personajeRojo {
    width: 465px;
    height: 465px;
    background-image: url("../images/portada/spidermanRojo.svg");
    top: 403px;
    left: 404px;

}

.portada.titulo {
    top: 91px;
    left: 330px;
    background-image: url("../images/portada/Spidey.svg");
    width: 590px;
    height: 301px;

}

.portada.sogaDer {
    background-image: url("../images/portada/sogaDerecha.svg");
    width: 256.66px;
    height: 372.44px;
    top: 398px;
    left: 1078px;
    transform: rotate(114.6deg);
    
}

.portada.fondoVioleta {
    background-image: url("../images/portada/fondoVioleta.svg");
    width: 1280px;
    height: 844.5px;
    top: 775px;
    left: 0px;

}

/*presentacion "Conoce a Spidey y sus Amigos"*/


.presentacion{

    display: flex;
    position: relative;
  height: 844.5px;
 
}
.duendeVerde{
    background-image: url(../images/presentacion/personajeVerde.svg);
    top: 0px;
    left:712px;
    width: 553px;
height: 921px;
position: absolute;/*posiciona a la imagen segun su padre, permite que se superpongan elementos*/
overflow: visible; /* Permite que la imagen sobresalga del contenedor */
z-index: 10; /* Ajusta el índice z para que el duende aparezca encima de otros elementos si es necesario */
}

.tarjetaAmigos{
    background-image: url(../images/presentacion/spideyYsusAmigos.svg);
    left:90.28px;
    
    width: 751.649px;
height: 413.131px;
transform: rotate(-2.222deg);
border-radius: 26px;
position: absolute;/*posiciona a la imagen segun su padre, permite que se superpongan elementos*/
overflow: visible; /* Permite que la imagen sobresalga del contenedor */

}

.textoAmigos>.titulo{

 width: 646px;
 
}


.textoAmigos>.texto{
    width: 586px;
height: 154px;
}
.textoAmigos>.titulo>h2,.textoAmigos>.texto>p{
    color: #FFF;
    font-family: Lato;
    font-style: normal;
} 
.textoAmigos>.titulo>h2{
font-size: 60px;
font-weight: 600;
line-height: 94.5%;
}

.textoAmigos>.texto>p{
font-size: 20px;
font-weight: 400;
line-height: normal;
}

.colIzq{
    display: block;
}

.personajes {
    display: flex;
    width: 1080px;
    margin: 0 auto;


}

.personajes>.ColumnaPersonajes {
    display: block;
    border: 41px;
    justify-content:space-between;
}


.personajes>.ColumnaPersonajes>img{
    border-radius: 41px;
    border: 9px solid var(--2982-ff, #2982FF);
    box-shadow: 4px 5px 0px 0px #02187E;
    width: 332.96px;
height: 302.691px;
margin: 0px;
}f
.historiaPersonajes{
   width: 333px;
height: 218px;
}

.historiaPersonajes>p{
color: #000;

font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
