body {
    padding: 0px;
    margin: 0px;
     /* permite el desplazamiento en el cuerpo */
    overflow: auto;
   

}

.pagina {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 7562px;
    width: 1280px;
    font-family: 'Lato', sans-serif;
}


.maximaPantalla {
    width: 1280px;
    height: auto;
}


.oculto{
    display: none;
}


.divNav {
    height: 227px;
    width: 1280px;
    display: flex;
    justify-content:space-between;
   
    border: none;
    margin: 0;
    z-index: 100;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
padding-top: 0px;
}
/*
nav {
    height: 103px;
    width: 1280px;
    display: flex;
    justify-content: space-around;
    border: none;
    z-index: 100;
    position: fixed;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);

}
*/

/* Estilo para el navbar */
nav {
    height: 103px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    z-index: 100;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    transition:  0.3s ease; /* Transición para el cambio de color de fondo */
  }
  
  /* Estilo para el logo en el navbar */
  nav .spidey {
    width: 133px;
    height: 68px;
    justify-content: center;
    transition: width 0.3s ease, height 0.3s ease; /* Transición para el cambio de tamaño */
  }
  

  
  .sticky {
    position: fixed;
}


.portadaTitulo {
    top: 91px;
    left: 260px;
    background-image: url("../images/portada/Spidey.svg");
    width: 590px;
    height: 301px;
    transition:  0.5s; 
    transform-origin:top;

}
.pequeno {
    /* Agrega estilos para hacer que la imagen sea más pequeña */
    width: 50px; /* ajusta según sea necesario */
    height: 50px; /* ajusta según sea necesario */
    transition:  0.9s; 
    transform-origin: bottom;
}
/*logo hamburguesa*/

button {
    background-color: transparent;
    border: none;
    display: grid;
}

.icono-hamburguesa,
.hamburguesa {
    margin: 0;
    margin-left: 100px;
}

.hamburguesa {
    width: 34px;
    height: 26px;
}

/*boton hamburguesa en transformacion a cruz*/
@keyframes lineToCross1 {
    0% {
        transform: rotate(0deg) translateX(0);
        transform-origin: left bottom;
    
    }

    50% {
        transform: rotate(45deg)  translateY(-30%);
        transform-origin: left bottom;
    }

    100% {
        transform: rotate(45deg)  translateY(-30%);
        transform-origin: left bottom;
    }
}

@keyframes lineToCross2 {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes lineToCross3 {
    0% {
        transform: rotate(0deg) ;
        transform-origin: right left; 
    }

    50% {
        transform: rotate(-45deg) translateY(-33%) translateX(20%);
        transform-origin: right left; 
    }

    100% {
        transform: rotate(-45deg) translateY(-33%) translateX(20%);
        transform-origin: right left; 
    }
}


.hamburguesa.abierto .icono-hamburguesa:nth-child(1) {
    animation: lineToCross1 0.5s ease forwards;
}

.hamburguesa.abierto .icono-hamburguesa:nth-child(2) {
    animation: lineToCross2 0.5s ease forwards;

}

.hamburguesa.abierto .icono-hamburguesa:nth-child(3) {
    animation: lineToCross3 0.5s ease forwards;
}

/*botones*/
/*
.comprar{
    margin-right: 100px;
}


.comprar>div {
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
}
*/

  
  .comprar {
    margin-right: 100px;
    padding: 10px 20px;
    background-color: #FFE901;
    border-radius: 111px;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: 8px solid var(--2982-ff, #2982FF);
    background-image: linear-gradient(150deg,
    rgb(247, 247, 5),rgb(240, 240, 66),rgb(243, 243, 159));
    box-shadow: 4px 5p0px 0px #02187E;
    height: 70%;

color: #02187E;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: 94.5%; 
letter-spacing: 2.2px;
}

.comprar:hover {
    background: linear-gradient(125deg,
    rgb(252, 248, 4),rgb(113, 117, 56), rgb(252, 248, 4),rgb(113, 117, 56));
    animation: glowing 40s linear infinite;
}
   
.comprar:active{
    background: linear-gradient(125deg,
    black,red,black,red);
background-size: 40%;
border-radius: 8px;
filter: blur(60px);
animation: glowing 40s linear infinite;
}

@keyframes glowing {
0% {
background-position: 0 0;
}

50% {
background-position: 400% 0;
}

100% {
background-position: 0 0;
}

}
#comprar:active{
   transform: scale(0.3);
}
nav>.spidey {
    width: 133px;
    height: 68px;
}

/*menu desplegable*/
.menu {
    overflow: hidden; /* Oculta el contenido que se desborda */
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    height: 60px;
    width: 0px;
    background: linear-gradient(180deg, red 0%, black 87.91%, rgba(84, 153, 248, 0.00) 100%);
    transition: transform 1s; 
    padding-left: 20px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
}

.despliegue{
        top: 75px; 
        position:fixed; 
        left: 0px; 
        z-index: 200;
}
.menu.desplegado {
    width: 300px;
        opacity: 1;
        transform: translateY(0);
        visibility: visible; 
}

.despliegue ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}
.menu>a{
    text-decoration: none;
       padding-left:4px ;
    color: #FFE901;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0; /* Añade margin: 0 para quitar el espacio predeterminado */
    opacity: 0; /* Inicia con opacidad 0 */
    transform: translateX(-20px); /* Inicia desplazado a la izquierda */

}
.menu.desplegado>a {
    opacity: 1; /* Cambia la opacidad a 1 en el estado desplegado */
    transform: translateX(0); /* Desplázalo a la posición normal */
}


@keyframes aparecerMenu {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* animación a cada elemento del menú */
/*
.menu.desplegado:nth-child(1) {
    animation: aparecerMenu 0.5s 0.2s ease forwards;
}

.menu.desplegado:nth-child(2) {
    animation: aparecerMenu 0.5s 0.8s ease forwards;
}

.menu.desplegado:nth-child(3) {
    animation: aparecerMenu 0.5s 0.6s ease forwards;
}

.menu.desplegado:nth-child(4) {
    animation: aparecerMenu 0.5s 0.8s ease forwards;
}

.menu.desplegado:nth-child(5) {
    animation:
 aparecerMenu 0.5s 1.0s ease forwards;
}
*/
.contenedor {
    width: 1080px;
    overflow: visible;
    top: -227px;
    z-index: 0;
   
    margin-left: 100px;

}

.contenedorPortada {
    height: 720px;
    width: 100%;

}




.portada {
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    background-repeat: repeat-x;
}


.portada.fondo {
    
    background-image: url("../images/portada/fondoPresentacion.svg");
    width: 1280px;
    height: 100%;
    top: 126px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
}


.portada.edificioCentro {
    background-image: url("../images/portada/edificioCentro.svg");
    width: 543.5px;
    height: 213.5px;
    top: 634px;
    left: 392px;
    display: flex;
    justify-content: center;

    animation: venirDesdeAbajoEdificio 0.9s ease-out;
}

@keyframes venirDesdeAbajoEdificio {
    from {
        opacity: 0;
        transform: translateY(-70%);
    }
    to {
        opacity: 1;
        transform:  translateX(0);
    }
}
.portada.edificioIzq {
    width: 452px;
    height: 720px;
    background-image: url("../images/portada/edificiosIzq.svg");
    top: 144px;
    left: -47px;
    animation: venirDesdeIzquierdaEdificio 0.9s ease-out;
}

@keyframes venirDesdeIzquierdaEdificio {
    from {
        opacity: 0;
        transform: translateX(-70%);
    }
    to {
        opacity: 1;
        transform:  translateX(0);
    }
}


.portada.edificioDer {
    width: 374px;
    height: 727.5px;
    background-image: url("../images/portada/edificioDer.svg");
    top: 126px;
    left: 906px;
    animation: venirDesdeDerechaEdificio 0.9s ease-out;
}

@keyframes venirDesdeDerechaEdificio {
    from {
        opacity: 0;
        transform: translateX(70%);
    }
    to {
        opacity: 1;
        transform:  translateX(0);
    }
}
.portada.personajeBlanco {
    width: 360px;
    height: 444px;
    background-image: url("../images/portada/spidermanBlanco.svg");
    top: 388px;
    left: 90px;
/*easy out es que va a ser una transicion suave*/
    animation: aparecerDesdeArribaIzquierda 1s ease-out;
}



@keyframes aparecerDesdeArribaIzquierda {
    from {
        opacity: 0;
        transform: translateY(-100%) translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

.portada.personajeNegro {
    background-image: url("../images/portada/spidermanNegro.svg");
    width: 393px;
    height: 393px;
    top: 335px;
    left: 695px;
    animation: aparecerDesdeArribaDerecha 1s ease-out;
}
@keyframes aparecerDesdeArribaDerecha {
    from {
        opacity: 0;
        transform: translateY(-100%) translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

.portada.sogaDer {
    background-image: url("../images/portada/sogaDerecha.svg");
    width: 256.66px;
    height: 372.44px;
    top: 398px;
    left: 1078px;
    transform: rotate(114.6deg);
    animation: aparecerDesdeArribaDerechaSogaDerecha 1s ease-out ;

}



@keyframes aparecerDesdeArribaDerechaSogaDerecha {
    from {
        opacity: 0;
        transform: translateY(-100%) translateX(100%) rotate(114.6deg);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(0) rotate(114.6deg);
    }
}

.portada.personajeRojo {
    width: 465px;
    height: 465px;
    background-image: url("../images/portada/spidermanRojo.svg");
    top: 403px;
    left: 404px;
    animation: aparecerDesdeArriba 1s ease-out;

}
@keyframes aparecerDesdeArriba {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.portada.sogaIzq {
    background-image: url("../images/portada/sogaIzquierda.svg");
    top: 397px;
    left: -27px;
    width: 450.817px;
    height: 627.274px;
    transform: rotate(65.403deg);
    animation: aparecerDesdeArribaSogaIzquierda 1s ease-out;
}

@keyframes aparecerDesdeArribaSogaIzquierda {
    from {
        opacity: 0;
        transform: translateY(-100%) rotate(65.403deg);
    }
    to {
        opacity: 1;
        transform: translateY(0) rotate(65.403deg);
    }
}


.portada.fondoVioleta {
    /*agrego el important*/
   
    background-image: url("../images/portada/fondoVioleta.svg");
    width: 1280px;
    height: 844.5px;
    top: 775px;
    left: 0px;

}

/*presentacion "Conoce a Spidey y sus Amigos"*/


.presentacion {
    margin-top: 119.5px;
    display: flex;
    position: relative;
    height: 844.5px;

}


.duendeVerde {
    background-image: url(../images/presentacion/personajeVerde.svg);
    top: -183px;
    left: 630px;
    width: 553px;
    height: 921px;
    position: absolute;
    overflow: visible;
     z-index: 10;
     animation: duendeScroll 2s alternate;
  
}

@keyframes duendeScroll {
    0% {
        left: 369px;
    }
    25% {
        left: 600px;
    }
    0% {
        left: 800px;
    }
    100% {
        left: 1000px; 
    }
}
.tarjetaAmigos {
    background-image: url(../images/presentacion/spideyYsusAmigos.svg);
    left: -7.72px;
    width: 751.649px;
    height: 413.131px;
    transform: rotate(-2.222deg);
    border-radius: 26px;
    /*posiciona a la imagen segun su padre, permite que se superpongan elementos*/
    position: absolute;
    /* Permite que la imagen sobresalga del contenedor */
    overflow: visible;
    top: 215px;
    border: 9px solid #FFF;
    /* Drop Shadow */
    box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
    
}




.textoAmigos>.titulo {
    width: 646px;
    margin-bottom: 0px;
}

.textoAmigos>.texto {
    width: 586px;
    height: 154px;

}


.textoAmigos>.titulo>h2,
.textoAmigos>.texto>p {
    color: #FFF;
    font-style: normal;


}

.textoAmigos>.titulo>h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 94.5%;
    margin-bottom: 20px;

}

.textoAmigos>.texto>p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .1px;
}

.colIzq {
    display: block;
    margin-top: -150px;
}

/*bloque de los tres personajes*/
.personajes {
    display: flex;
    margin: 0;
    justify-content: space-between;
    position: relative;
    margin-top: -43px;
  }



.personajes>.columnaPersonajes>img {
    border-radius: 41px;
    border: 9px solid var(--2982-ff, #2982FF);
    box-shadow: 4px 5px 0px 0px #02187E;
    width: 310px;
    margin: 0px;
}

.personajes>.columnaPersonajes>img:not(:first-child) {
    margin-left: 40.56px;
}

.historiaPersonajes {
    width: 333px;

}

.historiaPersonajes>p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*efecto actividad 9*/

@keyframes scrollPersonajes {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.personajes > .columnaPersonajes {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.personajes > .columnaPersonajes.visible {
    opacity: 1;
    transform: translateY(0);
}

.vengadores {
    background-color: #000;
    left: 0px;
    width: 1280px;
    overflow-x: visible;
    position: absolute;
    top: 2618px;
    height: 4346px;
}

.ghost {
    background-image: url(../images/ghost-Spider/ghost.svg);
    height: 566px;
    width: 1280px;
    /*SI HAY QUE BAJAR O SUBIR ES 20*/
    position: absolute;
    top: -60px;

}

.testJuego1 {
    background-image: url(../images/ghost-Spider/testJuego1.svg);
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-13.078deg);
    top: -171px;
    position: absolute;
    margin-left: 100px;
}

.testJuego2 {
    background-image: url(../images/ghost-Spider/testJuego2.svg);
    width: 543.218px;
    height: 325.787px;
    transform: rotate(-26.474deg);
    flex-shrink: 0;
    top: 35px;
    position: absolute;
    margin-left: 100px;
}

.testJuego3 {
    background-image: url(../images/ghost-Spider/testJuego3.svg);
    width: 546.108px;
    height: 326.509px;
    transform: rotate(-36.016deg);
    flex-shrink: 0;
    top: 249px;
    position: absolute;
    margin-left: 100px;
    
}

.testJuego1,
.testJuego2,
.testJuego3 {
  transition: transform 0.3s ease;
}

.testJuego1:hover {
  transform: rotate(10deg) skew(20deg);
}

.testJuego2:hover {
  transform: rotate(20deg) skew(20deg);
}

.testJuego3:hover {
  transform: rotate(30deg) skew(20deg);
}

.moveUp {
  transform: translateY(-10px);
}
.textoVengadores {
    width: 667px;
    height: 171px;
    top: 621px;
    position: absolute;
    color: hsl(0, 0%, 100%);
    left: 100px;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;

}

.cielo {
    background-image: url(../images/ghost-Spider/cielo.svg);
    width: 1080px;
    height: 527.626px;
    position: relative;
    margin: auto;
    top: 900px;
    box-shadow: 26px 29px 41px 14px rgba(0, 0, 0, 0.15);
}

.planta {
    background-image: url(../images/ghost-Spider/vegetacion.svg);
    width: 1080px;
    height: 527.626px;
    position: relative;
    margin: auto;
    top: 372.63px;
}

.hulk {
    background-image: url(../images/ghost-Spider/hulk.svg);
    width: 410.106px;
    height: 437.972px;
    transform: rotate(7.515deg);
    position: relative;
    left: 815px;
    top: -36.37px;
}



.elasticGirl {
    background-image: url(../images/ghost-Spider/elasticGirl.svg);
    width: 451.258px;
    height: 591.442px;
    transform: rotate(-12.483deg);
    position: relative;
    left: 184px;
    top: -645.37px;
}

.pantera {
    background-image: url(../images/ghost-Spider/pantera.svg);
    width: 368.31px;
    height: 552.46px;
    transform: rotate(13.615deg);
    position: relative;
    left: 610px;
    top: -1402.37px;
}

.pasto {
    background-image: url(../images/ghost-Spider/hiervaFrente.svg);
    width: 1077.059px;
    height: 527.626px;
    position: relative;
    top: -1737.37px;
    margin: auto;
}

.fondoBlanco {
    background-image: url(../images/MasAmigos/fondoBlanco.svg);
    height: 750px;
    width: 1280px;
    position: absolute;
    top: 1292px;
}


/*Mas amigos*/
.tituloMasAmigos {
    width: 802px;
    top: 1584px;
    position: absolute;
    left: 104px;
    color: #000;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    margin-bottom: 69px;
}




.img1Amigos{
    width: 552px;
height: 302.762px;
}

.img2Amigos{
    width: 548px;
    height: 305px;
}

.img3Amigos{
    width: 556px;
    height: 301.507px;
}

.img4Amigos{
    width: 552px;
    height: 308.253px;
}


.masDiversion {
    width: 1085px;
    height: 300px;
    overflow: hidden;
    display: flex;
    margin-top: 65px;
    position: relative;
}
.masAmigos{
    margin-top: 1872px;
    overflow-y: hidden;
}
.ventana {
    width: 1080px;
    height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ventana::-webkit-scrollbar {
    display: none;
}

.opcion {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    color: black;
    
}

.columna {
    padding: 3px;
}

.columnaIzquierda {
    display: flex;
    text-align: center;
    max-width: 540px;
    height: 300px;
    margin-bottom: 0.5em;
    transition: opacity 0.1s ease, transform 0.1s ease;
    position: sticky;
    top: 0;
    opacity: 0.8;
}
.columnaDerecha {
    padding: 3px;
    width: 100%; 
}
   
.columnaDerecha .descripcion {
    width: 100%;
    padding: 20px;
}

.columnaIzquierda img {
    opacity: 1;
    transition: opacity 0.5s ease;
    position: sticky;
    top: 0;
    max-width: 100%;
    height: 300px;
    margin-bottom: 0.5em;
}

.transparente {
    opacity: 0.5;
}


.columnaIzquierda.transparencia img {
    opacity: 0;
    transition: opacity 0.2s ; 

}

/*bloque compra*/


#comprarAhora {
    position: absolute;
    width: 292px;
    height: 50px;
    top: 2240px;
    left: 100px;
}


.comprar>button>#comprar>p {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 0.2px;
    color: #02187E;
    text-transform: uppercase;
}


.fondoBlanco2 {
    background-image: url(../images/granPoder/fondoBlanco2.svg);
    width: 1280px;
    height: 719.861px;
    position: absolute;
    top: 2255px;

}


.tituloPoder {
    color: #FFF;
    width: 816px;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 2017px;
    left: 100px;

}


/*personajes poder*/

.poder1 {
    background-image: url(../images/granPoder/spideyBlanco.svg);
    width: 268px;
    height: 416.5px;
    position: absolute;
    left: 190px;
    top: 2424.14px;
}

.poder2 {
    background-image: url(../images/granPoder/spideyNegro.svg);
    width: 313.5px;
    height: 398.5px;
    top: 2433.14px;
    position: absolute;
    left: 821px;
}

.poder3 {
    background-image: url(../images/granPoder/spidyRojo.svg);
    width: 416.5px;
    height: 457.5px;
    top: 2432.14px;
    position: absolute;
    left: 446px;
}

.poder1, .poder2, .poder3 {
    opacity: 0;
    transform: translateY(50px);
}

.poder1.animate {
    animation: fadeInAndMove 1.5s ease forwards;
    animation-delay: 0.5s; 
}

.poder2.animate {
    animation: fadeInAndMove 2s ease forwards;
    animation-delay: 1s;
}

.poder3.animate {
    animation: fadeInAndMove 1s ease forwards;
    animation-delay: 0s; /* retraso*/
}

@keyframes fadeInAndMove {
    from {
        opacity: 0;
        transform: translateY(100px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fondoCorreo {
    background-image: url(../images/correo/fondoCorreo.svg);
    top: 2974.861px;
    width: 1280px;
    height: 1296px;
    position: absolute;

}




.edificios {
    background-image: url(../images/correo/edificios.svg);
    top: 3550.861px;

    width: 1280px;
    height: 720px;
    position: absolute;

}

.tituloCorreo {
    width: 816px;
    color: #000;

    left: 232px;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 94.5%;
    /* 56.7px */
    position: absolute;
    top: 3126.86px;
    margin-top: 0;
    margin-bottom: 0;
}



.correo {
    display: flex;
    position: absolute;
    left: 250px;
    top: 3343.86px
}

.btn_correo {
    width: 218px;
    height: 100px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.btn_correo>p {
    margin: auto;
    color: #02187E;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 0.2px;
}

.inputCorreo {
    width: 562px;
    height: 82px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background: #FFF;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.inputCorreo>p {
    margin-top: 30px;
    margin-left: 52px;
    color: rgba(0, 0, 0, 0.39);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;

}


.textoCorreo {
    width: 578px;
    height: 95px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
    position: absolute;
    top: 3482.86px;
    left: 302px;
    margin-top: 0;
    margin-bottom: 0;
}

.textoCorreo>span {
    text-decoration-line: underline;

}

.teen {
    background-image: url(../images/correo/teen.svg);
    width: 231px;
    height: 145px;
    position: absolute;
    top: 3594.86px;
    left: 302px;
}


.spideyRojoCorreo {
    background-image: url(../images/correo/spideyRojo.svg);
    width: 94px;
    height: 88px;
    mix-blend-mode: darken;
    position: absolute;
    top: 3943px;
    left: 1000px;
}


.spideyNegroCorreo {
    background-image: url(../images/correo/spideyNegro.svg);
    width: 97px;
    height: 89px;
    mix-blend-mode: darken;
    position: absolute;
    top: 4114px;
    left: 219px;
}



.spideyBlancoCorreo {
    background-image: url(../images/correo/spideyBlanco.svg);
    width: 58px;
    height: 64px;
    mix-blend-mode: darken;
    position: absolute;
    top: 4047px;
    left: 532px;
}

footer {
    position: absolute;
    top: 6964px;
    left: 0px;
    background: #5E5E5D;
    width: 1280px;
    height: 598px;
}

.banner {
    width: 1080px;
    height: 75px;
    position: absolute;
    top: 4271px;
    left:100px;
}

footer>h4 {
    color: #FFF;
    width: 820px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    /* 18.9px */
    letter-spacing: 2.2px;
    margin-left:100px;
    margin-top:38px;
    margin-bottom: 34px;
}

footer>h4>span{
text-decoration-line: underline;
display: inline-block;
margin-top: 1em;
}

.redes{
    width: 212px;
height: 41px;
margin-left:100px;
}


/*pagina de load */
.contenedorLoading{
    width: 1280px;
    height:900px;
    position: relative;
    background-color: #050c28;
}

.fondoLoading{
    background-image: url(../images/loading/fondo-telarana-halloween-cocnept_23-2148628523.jpg);
    top: 0;
    left: 0;
  background-repeat: no-repeat;
background-size: cover;
    height: 700px;
    position: absolute;
    width: 1280px;
    height: 700px;
 
}


@keyframes giroArania {
    0% {
        transform: rotate(90deg);
    }
  
    100% {
        transform: rotate(450deg);
    
    }
}
.arania {
    background-image: url(../images/loading/araña.svg);
    position: absolute;
    top: 496px;
    left: 250px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(90deg);
    transition: left 8s ease-in-out;
    animation: giroArania 1s ease-in-out;
}

.barraLoading {
    width: 0;
    height: 100%;
    border-radius: 20px;
    background-color: yellow;
    transition: width 8s ease-in-out;
}


.barra {
    width: 700px;
    height: 50px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 550px;
    left: 300px;

}

.porcentaje {
        position: absolute;
        top: 610px;
        left: 650px;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: bold;
        color: #FFF;
    
}
.spritesheets {
    width: 98px;
    height:120px;
    mix-blend-mode: darken;
    position: absolute;
    top: 3910px;
    left: 940px;
    background-repeat: no-repeat;
    animation: showImages 1.5s infinite ease-in-out;
    image-rendering: pixelated;
}



@keyframes showImages {
    0%{
        background-image: url(../images/spritesheets/HombreAranaMovimiento1\ 1.svg);
    } 
    33%{
        background-image: url(../images/spritesheets/HombreAranaMovimiento2.svg);
    } 
   66%{
    background-image: url(../images/spritesheets/HombreAranaMovimiento3.svg);
    }
   100%{
    background-image: url(../images/spritesheets/HombreAranaMovimiento1\ 1.svg);
     }
     
}
