.nav {
    display:flex;
    flex-direction:column;
    display:none;
}

.menus {
    display: flex;
}


@media only screen and (min-width: 600px){

#btn-menu{
display:none;

}
 ul {
    display: flex;
    flex-direction: row;
}
.menu {
    display: flex;
}
}
