*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}


body {
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
    color: var(--negro, #20423C);

}

/* titulo secundario */
h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.1px;
}


.textoChico {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.precio {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.19px;
}
nav{
    display: flex;
    background-color: #007A66;
    height: 80px;
    justify-content: space-between;
    align-items:center;
   
}


/* MENU DE NAVEGACIÓN */

ul.navegacion{
    display:none;
    flex-direction:column;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    background-color: #007A66;
    color: #F9FEFD;
    text-transform: uppercase;
    width: fit-content;
    
}
ul.navegacion.show{
    display: flex;
}

/*input de busqueda de navegacion*/
.input{
    background-color: #F9FEFD;
    opacity: 0.8;
    height: 37px;
    width: 500px;
    padding: 2px;
    border-radius: 8px;
    color: #0A957E;
    margin: 0%;
}


/*img hamburguesa*/

.btn_menu .menuHamburguesa{
    width: 50px;
    height: 35px;
    background-color: #007A66;
}

/* IMAGEN DE LA CARD */
.card {
    width: 220px;
    height: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--secundarioL1, rgba(15, 65, 161, 0.85));
    background: var(--blanco, #F9FEFD);
    /* sombra1 */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.card img {
    position: absolute;
    margin: 14px;
    margin-top: 13px;
    width: 192px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 9px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.card h2 {
    margin-top: 172px;
    margin-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}

.card .precio {
    display: flex;
    margin: 0px;
    padding-left: 14px;
    padding-right: 14px;
    justify-content: flex-end;
}

.card .textoChico {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-align: justify;
    margin:0;
    margin-bottom: 14px;
    padding-left: 14px;
    padding-right:14px;
    white-space:unset;
    text-overflow: ellipsis;

}
  
.CarritoCompra{
  display:none;
}
.card:hover .CarritoCompra {
    display:flex;
    position: absolute;
    width: 70px;
height: 69.32px;
flex-shrink: 0;
border-radius: 8px;
margin: 75px;
margin-top:110px ;




}





.btn_primario{
    text-transform: uppercase;
    

}

ul.navegacion {
    display: none;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

