nav{
    display: flex;
    background-color: #007A66;
    height: 80px;
    justify-content: space-between;
   
}


ul.navegacion.show{
    display: flex;
}


ul.navegacion{
    display:none;
    flex-direction:column;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    background-color: #007A66;
    color: #F9FEFD;
    text-transform: uppercase;
    width: fit-content;
    
}

.input{
    background-color: #F9FEFD;
    opacity: 0.8;
    height: 37px;
    width: 201px;
    padding: 2px;
    border-radius: 8px;
    color: #0A957E;
}


.btn_primario{
    text-transform: uppercase;
    

}

