:root {
    --primarioS2: #02483C;
    --primarioS1: #005B4C;
    --primario: #007A66;
    --primarioL1: #0A957E;
    --primarioL2: #11D2B2;


    --secundarioS2: #083978;
    --secundarioS1: rgba(16, 44, 98, 0.85);
    --secundario: #003C8A;
    --secundarioL1: rgba(15, 65, 161, 0.85);
    --secundarioL2: rgba(8, 46, 150, 0.74);

    --blanco: #F9FEFD;
    --negro: #20423C;
    --acento: #D51EF3;
    --gratis: rgba(35, 209, 52, 0.79);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;


}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    line-height: normal;
    color: var(--negro);
    background-color: var(--primario);

}

h1 {
    color: var(--blanco);
    font-size: 200%;
    font-weight: 800%;
    letter-spacing: 5%;
}

h2 {
    color: var(--blanco);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 150%;
    font-weight: 400%;
    letter-spacing: 5%;
}

/* titulo terciario */
h3 {
    font-size: 80%;
    font-weight: 400%;
    letter-spacing: 0.6px;
    text-decoration-line: underline;
}

.textoChico {
    font-size: 60%;
    font-weight: 400%;
    letter-spacing: 5%;
}

.precio,
.precioConDescuento,
.textoGratis {
    font-size: 110%;
    font-weight: 400%;
    letter-spacing: 5%;
}

.precioConDescuento {
    text-decoration: line-through;
}

.textoGratis {
    color: var(--gratis);
}

.textoBotones {
    text-transform: uppercase;
    font-weight: 100%;
    font-size: 80%;
}



/*BOTONES*/

.btn-primario,
.btn-secundario {
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.btn-primario {

    height: auto;
    background-color: var(--acento);
    color: var(--blanco);
    padding: 2% 5%;
    margin: 2%;


}

.btn-primario.click {
    background-color: var(--primarioL1);

}

.btn-primario:hover {
    filter: grayscale(25%);
}

.btn-secundario {
    background-color: var(--blanco);
    display: flex;
    height: auto;
    text-transform: capitalize;
    flex-shrink: 0;
    fill: var(--blanco);
    border: 30%;
    border-color: var(--acento);
    border-style: solid;
    stroke: var(--acento);
    fill: var(--blanco, #F9FEFD);
}

.btn-secundario.click {
    fill: var(--blanco);
    stroke: var(--primario);

}

.btn-secundario:hover {
    filter: grayscale(45%);
}

.btn-terciario {
    color: var(--primarioL2);
    text-shadow: 0px 4px 4px var(--negro);
    font-size: 11.971px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.btn-terciario.click {
    color: var(--acento);
}

.btn-terciario:hover {
    color: rgba(17, 210, 178, 0.50);
}

.btn-facebook,
.btn-google {
    width: 120%;
    height: 2%;
    color: var(--blanco);
    background: #3B5998;
}

.btn-facebook>img,
.btn-google>img {
    margin-right: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 7%;
    height: 8%;
    background-color: inherit;
    justify-content: center;
}


.btn-google {
    background: #DB4A39;
}

.btn-facebook {
    background: #3B5998;
}

.container {

    display: grid;
    grid-template-areas:
        "nav nav"
        "breadCrums breadCrums"
        "header header"
        "main main "
        "foot foot";
    grid-template-columns: 1fr 5fr;

}


nav {
    grid-area: nav;
    background-color: var(--primario);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/*LOGIN*/
.btn-login.click {
    background-color: var(--primarioL1);
}

.btn-login {
    color: var(--blanco);
    width: 50%;
    height: 2em;
    flex-shrink: 0;
    background-color: var(--primario);
}



.login,
.btn_log {
    display: flex;
    align-items: flex-start;
    color: var(--blanco);

}

.btn_log h2 {
    margin-right: 10px;
}

.login>button {
    background-color: var(--primario);
    padding: 10px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}

form>div {
    padding: 0.2em;
    align-items: center;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

form>div>input {
    width: 50%;
    border-radius: 6px;
    border-color: var(--negro);
    border-width: 0.20em;
}



.form {
    width: 50%;
    border-color: var(--primarioL2);
    background: var(--blanco);
    border-width: 0.25em;
    border-style: solid;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form .botones {
    display: flex;
}

.form>div {
    width: 80%;
    background: var(--primarioL1);
    border-color: var(--secundario);
    border-width: 0.25em;
    border-style: solid;
    padding: 0em;
}

.ocultarFormulario {
    display: none;
}


/* MENU DE NAVEGACIÓN */

.desplegable {

    background: var(--primarioL1);
    top: 79px;
    position: absolute;
    display: grid;
    grid-auto-rows: max-content;
    z-index: 1000;
}


ul.navegacion {
    display: none;
    flex-direction: column;
    margin: 2px;
    padding: 5px 20px;
    color: var(--blanco);
    text-transform: uppercase;
    width: max-content;
    background: var(--primario);

}


ul.navegacion.show {
    display: flex;
}

.navegacion>.menu {
    border-radius: 8px;
    padding: 10px 15px;
    align-items: center;
    display: flex;
}

.menu:hover {
    background: var(--primarioL2);

}

.menu>img {
    padding-right: 20px;
}



.navegacion li:hover>ul {
    display: flex;
    border-radius: 8px;

}

ul.idioma {
    position: absolute;
    margin-left: 81%;
    border: 3px solid var(--acento);
}

.navegacion li>ul {
    display: none;
}

img.idioma {
    margin-right: 20px;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 30px 30px;

}


li.menu:hover {
    background: var(--primarioL2);
}

/*input de busqueda de navegacion*/
.input {
    background-color: var(--blanco);
    opacity: 0.8;
    height: 37px;
    width: 500px;
    padding: 2px;
    border-radius: 8px;
    color: var(--primarioL1);
    margin: 0%;
}



/*boton  hamburguesa*/
.btn_menu {
    background-color: var(--primario);
}

.btn_menu .menuHamburguesa {
    width: 28px;
    height: 20px;

}

/*header*/

.header {
    grid-area: header;
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    contain: content;
    height: 140px;
    position: relative;
    overflow: hidden;

}

.header h1,
.header h2,
button {
    position: relative;
    z-index: 2;

}


.header img {
    position: absolute;
    opacity: 0.3;
    width: 100%;
}

.header .publicidad {
    opacity: 1;
}

/* boton explora*/
.btn_ingresa {
    margin: 10px 0px;
    width: 8%;
    height: auto;
    background: var(--acento);
    border-radius: 8px;
    color: var(--blanco);
    text-align: center;
    font-size: 100%;
    text-transform: capitalize;



}

.btn_ingresa:hover {
    width: 10%;
    height: auto;
    padding: 2px;
}




.breadCrums {
    grid-area: breadCrums;
    color: var(--primarioL2);
    background: var(--secundario);
    height: 30px;
    padding-left: 30px;


}


.main {
    grid-area: main;
    padding: 2%;
    background: var(--primarioL1);

}

.desplegable {
    grid-area: menu;
    background: var(--primarioL1);

}

.navegacion.log>.menu.destacado {
    border-bottom: 2px solid var(--secundario);
}

footer {
    grid-area: foot;
    height: 400px;
    background: var(--primario);
    display: block;
    color: var(--blanco);
    background: var(--primario);
    display: block;
    color: var(--blanco);
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.descripcionFooter {
    text-align: center;
    padding: 19px;
    margin: auto 15%;
    font-size: 90%;
    line-height: 120%;


}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2%;
}

.footer div .likeRedes li {
    display: block;
    margin-right: 20%;
    text-align: center;
    text-transform: uppercase;

}

.centro {
    justify-content: right;
    margin-right: 1%;
}

.footer>div {
    display: flex;
    margin-left: 30px;
}

.footer ul {
    display: flex;
    align-items: center;

}

.footer ul li {
    display: flex;
    align-items: center;


}

.footer ul {
    display: flex;
    align-items: center;

}

.footer .logoFooter {
    display: block;
    text-align: center;
    margin-left: 15%;

}

.footer ul li button {
    padding-right: 5px;
    padding-left: 50px;
    background-color: var(--primario);


}

.footer ul li button img {
    border-color: var(--negro);
    background-color: var(--primario);
    border: 5px solid var(--negro);
    border-radius: 8px;
    padding: 2px;
    box-shadow: 0px 4px 4px 0px var(--negro);
}


.footer ul li button img:hover {
    border: 5px solid var(--acento);
}


.footer ul li h3:hover {
    color: var(--primarioL2);
}

/* IMAGEN DE LA CARD */
.card {
    width: 220px;
    height: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--secundarioL1);
    background: var(--blanco);
    /* sombra1 */
    box-shadow: 0px 4px 4px 0px var(--negro);
    scroll-snap-align: center;
    margin-right: 19px;
    contain: content;
}


.card img {
    position: absolute;
    margin: 14px;
    margin-top: 13px;
    width: 192px;
    height: 148px;
    flex-shrink: 0;
    border-radius: 9px;

}

.card h2 {
    margin-top: 172px;
    margin-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
    color: var(--primarioS2);
}

.card .precio {
    display: flex;
    margin: 0px;
    padding-left: 14px;
    padding-right: 14px;
    justify-content: flex-end;
}

.card .textoChico {
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-align: justify;
    margin: 0;
    margin-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    white-space: unset;
    text-overflow: ellipsis;

}





.card .play {
    display: flex;
    position: absolute;
    width: 70px;
    height: 69.32px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 75px;
    margin-top: 110px;
    background: var(--gratis);
}


.hoverCard {
    display: none;

}

.card .carritoCompraShow {
    display: flex;
    position: absolute;
    width: 70px;
    height: 69.32px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 75px;
    margin-top: 110px;

}

.card .likeShow,
.card .likeShowFijo {
    display: flex;
    margin-left: 166px;
    margin-right: 0px;
    margin-top: 0px;
    position: absolute;
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 8px;

}

.card:hover .grey {
    filter: grayscale(50%);

}


.carrousel {
    padding: 2%;
    width: 96%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;


}


.vertical {
   padding: 2%;
   width: 96%;
    height:75%;
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
  scroll-snap-type: y mandatory;
 
}


div.carrousel::-webkit-scrollbar,
div.vertical::-webkit-scrollbar {
    display: none;
}

/* 4 EN LINEA*/

.juego {
    display: flex;
    height: 50%;
    width: 92%;
    margin: 4%;
    background-color: var(--secundario);
    font-size: 80%;
    text-align: center;

}

.juego>div {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.column1 {
    width: 20%;
    
}


.column1>h2 {
    margin-top: 15%;
}


.compartir>ul {
    display: flex;
    flex-direction: column;


}

.compartir>ul>li>img {
    border-radius: 16px;
    margin: 8% 10%;
    width: 25%;
    box-shadow: var(--negro) 5px 4px;
    border: var(--negro) 2px solid;

}




.video {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    position: relative;
    display: inline-block;

}

img.demo {
    opacity: 0.8;
    width: 100%;
    height: auto;
    display: block;

}

img.btn-PlayVideo {
    position: absolute;
    width: 20%;
    z-index: 4;
    top: 40%;
    left: 40%;
}


.column2 {
    height: 100%;
    width: 55%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.descargas,
.controles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.descargas>img {
    width: 35%;
    margin: 1%;
    box-shadow: var(--primarioS2) 2px 2px;
    border-radius: 2px;
    border: var(--negro) 2px 2px solid;

}

.controles img {
    width: 50%;
}

.sonido {
    display: flex;
    flex-direction: row-reverse;

}

.sonido>img {
    width: 6%;
    margin: 1%;
}


.tablero {
    display: flex;

    width: 100%;
}

.tablero>img {
    width: 100%;
    height: 100%;
}

.reglas {
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.reglas>.body {
    color: var(--blanco);
    text-align: justify;
    padding: 1%;
}

.reglas>h2 {
    text-transform: uppercase;
    color: var(--blanco);
    margin-bottom: 2%;
}

.comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3%;
}

.comentarios>div {
    margin: 1%;
    display: flex;

}

.comentarios .btn-secundario {
    width: 15%;
}

.opinion {
    margin: 2%;
    width: 60%;
    height: 300%;
    display: flex;
    align-items: center;
}

.opinion>textarea {
    margin: 5%;
    width: 60%;
    height: 800%;

}

.listaComentarios>div {
    width: 60%;
    margin: 3%;
    background-color: var(--blanco);
    color: var(--negro);
}

.listaComentarios>div>h3 {
    width: 40%;
    text-transform: capitalize;
    margin-bottom: 0%;
}

.listaComentarios>div>p {
    width: 60%;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-align: justify;
}

.comentariosViejos {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
}

.interaccion {
    display: flex;
    flex-direction: row;
}

.ranking {
    width: 30%;
}

.ranking>div {
    width: 100%;
    background-color: var(--blanco);
    margin: 3%;
    display: flex;
    flex-direction: row;
}